name: 'Generate index.json'

# Runs the Node.js script that generates the index.json file

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  check-links:
    runs-on: "ubuntu-latest"
   #runs-on: ${{ fromJSON('["ubuntu-latest"]')[0] }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.13.x
          cache: npm

      #- name: Install
      #  run: npm ci

      # Creates file "$/files.json", among others
      - name: Gather files changed
        uses: trilom/file-changes-action@a6ca26c14274c33b15e6499323aac178af06ad4b
        with:
          fileOutput: 'json'

      # For verification
      - name: Show files changed
        run: cat $HOME/files.json

      - name: Run indexer script
        run: ./Extras/indexer.js

      #- name: Link check (warnings, changed files)
      #  run: |
      #    ./script/rendered-content-link-checker.mjs \
      #      --language en \
      #      --max 100 \
      #      --check-anchors \
      #      --check-images \
      #      --verbose \
      #      --list $HOME/files.json

      #- name: Link check (critical, all files)
      #  run: |
      #    ./script/rendered-content-link-checker.mjs \
      #      --language en \
      #      --exit \
      #      --verbose \
      #      --check-images \
      #      --level critical
